.navbar-brand{
font-family: 'Dr Sugiyama', cursive;
margin-left: 25px;
font-size: 15em
}
#navbarNav{
    margin-right: 25px; 
}
#cuerpo{
margin-top: 20px;
}

#tarjetas .card{
    max-width: 250px;
    padding:10px;
    margin-left: 15px;
    margin-top: 20px;
}
#estrellas{
    text-align: left;
}
#tabs{
    margin-top:10px;
}
#comentarios{
    margin-top:10px;
}
#home-tab:hover,#profile-tab:hover{

    opacity: 1;
}

/